<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jayrajkachariya/livspace-campaign-provider@1e53dcc0f1367f3458f59dc690ceb555c195a29a/index.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    
  </head>
  <body>
       
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="https://cdn.jsdelivr.net/gh/jayrajkachariya/livspace-campaign-provider@e87ba7528d9c5a58d64ce79d708d38b3b486eb0f/index.js"></script>
  </body>
</html>
