<template>
  <div class="hello">
    <div class="d-flex">
      <h1 class="w-20 heading">Campaign</h1>
      <div class="w-100">
        <b-button
          v-on:click="createCampaign"
          v-if="campaignList.length"
          class="float-right action"
          variant="primary"
        >Create</b-button>
      </div>
    </div>
    <div v-if="campaignList.length">
      <b-table hover :items="campaignList" :fields="fields" class="mt-4" @row-selected="onRowSelected" selectable select-mode="single">
        <template #cell(source)="data">
             {{data.item.source.name}}
        </template>
        <template #cell(theme)="data">
             {{data.item.theme.name}}
        </template>
        <template #cell(status)="data">

          <div class="custom-control custom-switch">
               <input type="checkbox"  :id="data.item.id" :v-model="data.item.status" :key="data.item.id" :checked="data.item.status=='active'"
                    class="custom-control-input"  v-on:change="switchCampaign($event,data.item)">
               <label class="custom-control-label" :for="data.item.id" >Active</label>
          </div>
        </template>
      </b-table>
    </div>

    <div v-else>
      <div class="text-center">
        <b-card class="mb-2 text-center mt-4" style="max-width: 35rem; margin:auto;padding:15px; ">
          <b-card-text>No Campaign Avaible</b-card-text>
          <b-button v-on:click="createCampaign" variant="primary" class="action">Create</b-button>
        </b-card>
      </div>
    </div>
    <b-modal id="create-campaign-modal" hide-footer :title="isEditMode?'Update Campaign':'Create Campaign'" no-close-on-backdrop>
      <CreateCampaign :mode="isEditMode" :campaignDetails="selectedCampaign"/>
    </b-modal>
  </div>
</template>

<script>
import CreateCampaign from "./createCampaign.vue";
import { mapState } from 'vuex'
import service from './../service'
export default {
  name: "Campaign",
  data() {
    return {
         checkbox:'',
          isEditMode:false,
          fields: [
               {
               key: "id",
               label: "Campaign ID",
               sortable: false
               },

               {
               key: "name",
               sortable: false
               },
               {
               key: "source",
               sortable: false
               },
               {
               key: "theme",
               sortable: false
               },
               {
               key: "status",
               label:'Switch',
               sortable: false,
               }
          ],
          selectedCampaign:{}
    };
  },
  components: {
    CreateCampaign
  },
  methods: {
     onRowSelected(campaign){
          if(campaign.length && campaign[0].status!='active'){
              this.isEditMode=true;
              this.selectedCampaign=campaign[0];
              this.$bvModal.show('create-campaign-modal');
          }
     },

     createCampaign() {
          this.isEditMode=false;
          this.$bvModal.show('create-campaign-modal');
     },
     switchCampaign(evt,campaign){
         evt.preventDefault();
         const payload={
              id:campaign.id,
              type:'campaign',
              payload:{status:evt.target.checked?'active':'inactive'}
         }
         service.updateData(payload).then(()=>{
              this.$store.dispatch('projects/getData','campaign').then(()=>{
                   this.$bvToast.toast('Campaign updated succesfully', {
                         variant: 'success',
                         solid: true,
                         noCloseButton: true
                    })
              })
         }).catch(()=>{
               this.$bvToast.toast(`Failed to update campaign`, {
                    variant: 'danger',
                    solid: true,
                    noCloseButton: true
               });
          });
     }
  },
 
  computed: {
        ...mapState('projects', {
            campaignList: 'campaigndata',   
        })
    },
};
</script>

<style scoped>
.md-theme-default a:not(.md-button),
.md-theme-default a:not(.md-button):hover {
  text-decoration: none;
  color: #fff;
  background: cadetblue;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: cadetblue;
    background-color: cadetblue;
    }
.action {
  border: none;
  background: cadetblue;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  font-weight: 500;
}
.heading {
  font-weight: 600;
  font-size: 25px;
  font-family: sans-serif;
}
.card-text {
  font-size: 20px;
  font-weight: 500;
}
</style>
