<template>
  <div>
    <b-form @submit="onEdit" @reset="onCreate">
      <b-form-group
        id="input-group-1"
        label="Theme Name"
        label-for="input-1"
        class="d-inline-block d-flex"
        label-class="placholder-width"
      >
        <b-form-input
          id="input-1"
          v-model="form.name"
          type="text"
          required
          placeholder="Enter Thene name"
          class="d-inline-block field"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Theme Description"
        label-for="input-2"
        class="d-inline-block d-flex"
        label-class="placholder-width"
      >
        <b-form-textarea
          class="d-inline-block field "
          id="input-2"
          v-model="form.description"
          placeholder="Enter Theme Description"
          rows="3"
          max-rows="4"
        ></b-form-textarea>
      </b-form-group>

     <div class="d-inline-block d-flex mb-3">
          <label for="logo" class="logo-label">Theme Logo Animation
               <b-button v-b-tooltip title="JSON URL supported" variant="info" class="info">i</b-button>
          </label>
          <b-form-input
          class="d-inline-block field bg-input"
          id="logo"
          required
          type="url"
          v-model="form.logo_url"
          placeholder="Enter logo URL"
        ></b-form-input>
     </div>  
     <div class="d-inline-block d-flex">
          <label for="bg" class="bg-label">Theme Backgound Animation
               <b-button v-b-tooltip title="Gif file URL supported " variant="info" class="info">i</b-button>
          </label>
         <b-form-input
          class="d-inline-block field bg-input"
          id="bg"
          required
          type="url"
          v-model="form.background_url"
          placeholder="Enter background URL"
        ></b-form-input>  
     </div>  
     <div class="d-inline-block d-flex">
          <label for="gift_url" class="bg-label">Theme Gift Animation
               <b-button v-b-tooltip title="JSON URL supported" variant="info" class="info">i</b-button>
          </label>
         <b-form-input
          class="d-inline-block field bg-input"
          id="gift_url"
          required
          type="url"
          v-model="form.gift_url"
          placeholder="Enter gift URL"
        ></b-form-input>  
     </div>  

      <div class="mt-4 action-div">
        <b-button type="submit" class="action float-right" v-if="mode">Update</b-button>
        <b-button type="reset" class="action float-right" v-else>Create</b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
// import axios from 'axios';
import service from "../service"
export default {
  props: {
    mode: {
      type: Boolean,
      required: true
    },
    themeDetails: {
      type: Object
    }
  },
  data() {
    return {
      form: {
        name: "",
        description: "",
        id: "",
        logo_url:'',
        background_url:'',
        gift_url:''
      }
    };
  },
  methods: {
    onPreview(evnt) {
      alert("preive",evnt);
    },

    onEdit(evt) {
          evt.preventDefault();
          if( this.checkFileType()){
          this.checkFileType();
            const payload={
              id:this.form.id,
              type:'theme',
              payload:{
                    name:this.form.name,
                    description:this.form.description,
                    logo_url:this.form.logo_url,
                    background_url:this.form.background_url,
                    gift_url:this.form.gift_url
               }

         }
          service.updateData(payload).then(()=>{
               this.fecthTheme();
          }).catch(()=>{
                    this.$bvToast.toast(`Failed to update theme`, {
                         variant: 'danger',
                         solid: true,
                         noCloseButton: true
                    });
               });
          }else{
               this.$bvToast.toast('Logo URL should be json file and Background URL shoud be gif file', {
                    variant: 'info',
                    solid: true,
                    noCloseButton: true
               });
          }
    },
    onCreate(evt){
          evt.preventDefault();
           if( this.checkFileType()){
           const payload={
                  type:'theme',
                  payload:this.getThemePayload()
             }
          service.createData(payload).then(()=>{
               this.fecthTheme();

               }).catch(()=>{
                    this.$bvToast.toast('Failed to create theme', {
                         variant: 'danger',
                         solid: true,
                         noCloseButton: true
                    });
               })
          }else{
               this.$bvToast.toast('Logo URL should be json file and Background URL shoud be gif file', {
                    variant: 'info',
                    solid: true,
                    noCloseButton: true
               });
          }
    },

    checkFileType(){
         return this.form.logo_url.includes('json')&&this.form.background_url.includes('gif')
    },
    getThemePayload(){
          const payload={
               name:this.form.name,
               description:this.form.description,
               logo_url:this.form.logo_url,
               background_url:this.form.background_url,
               gift_url:this.form.gift_url
          }
          return payload;
    },

     fecthTheme(){
          this.$store.dispatch('projects/getData','theme').then(()=>{
               // const oprationString=this.mode?'updated':'create';
               this.$bvToast.toast(`Theme ${this.mode?'updated':'created'} succesfully`, {
                    variant: 'success',
                    solid: true,
                    noCloseButton: true
               })
          })
         this.$bvModal.hide('create-theme-modal');
     },

    setFormValues() {
      this.form.name = this.themeDetails.name;
      this.form.description = this.themeDetails.description;
      this.form.id = this.themeDetails.id;
      this.form.logo_url = this.themeDetails.logo_url;
      this.form.background_url = this.themeDetails.background_url;
      this.form.gift_url = this.themeDetails.gift_url;
    }
  },
  watch: {
    mode: {
      immediate: true,
      deep: true,
      handler(newValue, oldValue) {
        console.log(this.mode, newValue, oldValue);
        if (this.mode) this.setFormValues();
      }
    }
  }
};
</script>
<style >
.bg-label{
     width: 453px;
    /* margin: 5px; */
    margin-bottom: 26px;
    margin-left: 0;
}
.logo-label{
     width: 447px;
}
.bg-input{
     margin-right: 20px;
}
.action-div {
  border-top: 1px solid #dee2e6;
  /* margin-bottom: 10px; */
  padding-top: 16px;
}
.action {
  width: 150px;
  border: none;
  background-color: cadetblue !important;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  font-weight: 500;
  border-color: cadetblue !important;
}
.placholder-width {
  width: 236px;
}
.bv-no-focus-ring{
     width: 55%;
     
}
.field{
     font-size: 14px !important
}
</style>