<template>
  <div>
    <b-form @submit="onEdit"  v-if="show">
      <b-form-group
        id="input-group-1"
        label="Campaign Name"
        label-for="input-1"
        class="d-inline-block d-flex"
        label-class="placholder-width"
      >
        <b-form-input
          id="input-1"
          v-model="form.campaign_name"
          type="text"
          required
          placeholder="Enter Campaign name"
          class="d-inline-block field"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Campaign Description"
        label-for="input-2"
        class="d-inline-block d-flex"
        label-class="placholder-width"
      >
        <b-form-textarea
          class="d-inline-block field"
          id="input-2"
          v-model="form.campaign_description"
          placeholder="Enter Campaign Description"
          rows="3"
          max-rows="4"
        ></b-form-textarea>
      </b-form-group>

      <b-form-group id="input-group-3" label="Campaign Source" label-for="input-3" class="d-inline-block d-flex" label-class="placholder-width">
          <b-form-select class="d-inline-block field" id="input-3" required v-model="form.source">
               <b-form-select-option v-for="item in sources" :value="item.id" :key="item.id">{{item.name}}</b-form-select-option>
          </b-form-select>
      </b-form-group>

      <b-form-group
        id="input-group-4"
        label="Campaign Theme"
        label-for="input-4"
        class="d-inline-block d-flex"
        label-class="placholder-width">
        <b-form-select
          class="d-inline-block field"
          id="input-4"
          required
          v-model="form.theme">
        <b-form-select-option v-for="item in themes" :value="item.id" :key="item.id">{{item.name}}</b-form-select-option>
        </b-form-select>
      </b-form-group>

      <b-form-group label="Camapign Gift" class="d-inline-block d-flex" label-class="placholder-width" label-for="input-radio">
        <b-form-radio-group
          class="d-inline-block field"
          id="input-radio"
          v-model="form.gift"
          :options="giftOptions">
        </b-form-radio-group>
        </b-form-group>

      <div v-if="form.gift">
           <div class="d-inline-block d-flex">
               <label for="range-1" class="gift-url-label">Campaign Gift URL
                    <b-button v-b-tooltip title="Size of image supported is 800 * 480"  variant="info" class="info">i</b-button>
               </label>
               <b-form-input
               class="d-inline-block field gift-url-input"
               id="range-1"
               required
               type="url"
               v-model="form.campaign_url"
               placeholder="Enter gift URL">
              </b-form-input>   
            </div>       
        <!-- <b-form-group
          id="input-group-2"
          label="Campaign Gift URL"
          label-for="input-5"
          class="d-inline-block d-flex"
          label-class="placholder-width">
          <b-button v-b-tooltip title="Online!" id="input-5" variant="outline-success">i</b-button>
          <b-form-input
            class="d-inline-block field"
            id="input-5"
            required
            type="url"
            v-model="form.campaign_url"
            placeholder="Enter gift URL">
           
           </b-form-input>
       
        </b-form-group> -->
        <b-form-group
          id="input-group-2"
          label="Campaign Gift Destination URL "
          label-for="input-6"
          class="d-inline-block d-flex"
          label-class="placholder-width"
        >
          <b-form-input
            class="d-inline-block field"
            id="input-6"
            required
            v-model="form.campaign_destination"
            placeholder="Enter Gift destination"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="mt-4 action-div">
        <!-- <b-button v-on:click="onPreview" style="width: 150px;" variant="outline-info">Preview</b-button> -->
        <b-button type="submit" class="action float-right" v-if="mode">Update</b-button>
        <b-button v-on:click="onCreate" class="action float-right" v-else>Create</b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
import axios from 'axios';
import { mapState } from "vuex";
import service from '../service'
export default {
  props: {
    mode: {
      type: Boolean,
      required: true
    },
    campaignDetails: {
      type: Object
    }
  },
  data() {
    return {
      info: "",
      form: {
        campaign_name: "",
        campaign_description: "",
        source: null,
        theme: null,
        gift: null,
        campaign_url: "",
        campaign_destination: ""
      },
      giftOptions: [{text:'Yes',value:true}, {text:'No',value:false}],
      show: true
    };
  },
  methods: {
     onPreview(evnt) {
          alert("preive",evnt);
     },

     onEdit(evt) {
          evt.preventDefault();
          // const payload=this.getThemePayload();
           const payload={
              id:this.campaignDetails.id,
              type:'campaign',
              payload:this.getThemePayload()
         }
         console.log(payload,'payload');
         service.updateData(payload).then(()=>{
               this.fecthTheme();
               
         }).catch(()=>{
               this.$bvToast.toast('Failed to update campaign', {
                    variant: 'danger',
                    solid: true,
                    noCloseButton: true
               });
          });
     },
     onCreate(evt){
               evt.preventDefault();
               const payload=this.getThemePayload();
               axios.post(`https://campaign-service.herokuapp.com/api/v1/campaigns`,payload).then(() => {
                   
                   this.fecthTheme();

               }).catch(()=>{
                    this.$bvToast.toast('Failed to create Campaing', {
                         variant: 'danger',
                         solid: true,
                         noCloseButton: true
                    });
               });
     },
     getThemePayload(){
          const payload={
               "name": this.form.campaign_name,
               "source_id": this.form.source,
               "theme_id": this.form.theme,
               "gift_required": this.form.gift,
               "gift_url": this.form.campaign_url,
               "destination_url": this.form.campaign_destination,
               description:this.form.campaign_description,
               status:'inactive'
          }
          return payload;
    },
     fecthTheme(){
          this.$store.dispatch('projects/getData','campaign').then(()=>{
                this.$bvToast.toast(`Campaign ${this.mode?'updated':'created'} succesfully`, {
                    variant: 'success',
                    solid: true,
                    noCloseButton: true
                });
          })
          this.$bvModal.hide('create-campaign-modal');
     },

    setFormValues() {
      this.form.campaign_name = this.campaignDetails.name;
      this.form.campaign_description = this.campaignDetails.description;
      this.form.source = this.campaignDetails.source.id;
      this.form.theme = this.campaignDetails.theme.id;
      this.form.gift = this.campaignDetails.gift_required;
      this.form.campaign_destination = this.campaignDetails.destination_url;
      this.form.campaign_url = this.campaignDetails.gift_url;
    }
  },
  watch: {
    mode: {
      immediate: true,
      deep: true,
      handler(newValue, oldValue) {
        console.log(this.mode, newValue, oldValue);
        if (this.mode) this.setFormValues();
      }
    },
    sources:{
          immediate: true,
          deep: true,
          handler(newValue, oldValue) {
          console.log(this.sources, newValue, oldValue ,this.themes);
          // if (this.sources.lenght) {

          // }
    }
  },
  },
  computed: {
        ...mapState('projects', {
        sources: 'sourcedata',   
        themes: 'themedata',   
        })
    },

};
</script>
<style >
.gift-url-input{
         /* width: 80%; */
    margin-right: 20px;
}
.gift-url-label{
         width: 423px;
    margin: 5px;
    margin-bottom: 26px;
}
.action-div {
  border-top: 1px solid #dee2e6;
  /* margin-bottom: 10px; */
  padding-top: 16px;
}
.action {
  width: 150px;
  border: none;
  background-color: cadetblue !important;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  font-weight: 500;
  border-color: cadetblue !important;
}
.placholder-width {
  width: 236px;
}
.bv-no-focus-ring{
     width: 55%;
     
}
.field{
     font-size: 14px !important
}
</style>