<template>
    <div class="app-header d-flex">
       <img alt="logo" src="https://images.livspace-cdn.com/w:400/h:100/plain/https://d3gq2merok8n5r.cloudfront.net/bumblebee/logo_livspace.png" class="logo">
       <!-- <h1 class="logo-heading">LivTheme</h1> -->
    </div>
</template>

<script>
export default {};
</script>

<style scoped>
.logo{
    /* width: 35px;
    height: 35px; */
    /* background: red; */
}
.app-header{
    /* padding: 10px 20px; */
    /* background: powderblue; */
    /* box-shadow: 1px 1px #e4e4e4; */
    background: #fff;
}.logo-heading{
    font-size: 30px;
    margin-left: 8px;
}
</style>
