<template>
 <div>
     <livThemeHeader/>
     <ul id="my-account-tabs" class="navbar-nav flex flex-column my-2 mt-4">
            <li class="nav-item" >
                <router-link to="/campaign">
                    <span id='menu-card'>
                        <span class='nav-item-name'>Campaign</span>
                    </span>
                </router-link>
            </li>
            <li class="nav-item" >
                <router-link to="/theme" >
                    <span id='menu-card'>
                        <span class='nav-item-name'>Theme</span>
                    </span>
                </router-link>
            </li>
            <li class="nav-item" >
                <router-link to="/source" >
                    <span id='menu-card'>
                        <span class='nav-item-name'>Source</span>
                    </span>
                </router-link>
            </li>
        </ul>
 </div>
</template>

<script>
import livThemeHeader from './Header.vue'

export default {
  name: "HelloWorld",
 components:{
     livThemeHeader
 }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    ul.navbar-nav .router-link-active:not(.projectinfo),
    ul.navbar-nav .router-link-exact-active.projectinfo
    {
        color: cadetblue!important;
        background-color:#5f9ea04a;
        border-left: 4px solid cadetblue;
    }
    ul.navbar-nav .router-link-exact-active span#menu-card,
    ul.navbar-nav .router-link-active:not(.projectinfo) span#menu-card{
        margin-left: -5px;
        font-weight: 600;
    }
    ul.navbar-nav .router-link-exact-active span#menu-card span,
    ul.navbar-nav .router-link-active:not(.projectinfo) span#menu-card span{
        font-weight: 600;
    }
    .navbar-nav {
        margin: 0;
        padding: 0;
    }

    .navbar-nav li {
        text-indent: 16px;
        line-height: 42px;
        padding-bottom: 1px;
    }

    .navbar-nav li a {
        display: block;
        text-decoration: none;
        color:cadetblue;
    }

    .navbar-nav li a:hover {
        text-decoration: none;
        color: cadetblue;
        background: #5f9ea04a;
    }

    .navbar-nav li a:active, .navbar-nav li a:focus {
        text-decoration: none;
    }
    .nav-item-name{
        padding-top: 5px;
        font-size: 15px;
        font-weight: 500;
        font-family: sans-serif;
    }
    ul{
        list-style-type: none;
    }
/* 
        --menu-unselected: #8e7d8b;
    --menu-selected: #73476d;
    --submenu-unselected: #5e455a;
    --selected-submenu-background: #e3dae2;
    --selected-menu-bar: #73476d;
    --customer-name: #41303e;
    --mobile-nav-bg: #eceaeb;
    --content-bg: #979797;
    --mobile-unselected-menu: #8d838b;
    --mobile-subm-unselected: #ab91a7;
    --button: #d4c8d3;
    --action-btn: #eb595f; */
</style>
