<template>
  <div class="hello">
    <div class="d-flex">
        <h1 class="w-20 heading">Source</h1>
        <div class="w-100">
            <button v-if="sourceList.length" class="float-right action" variant="primary" v-on:click="createSource">Create</button>
        </div>
    </div>
    <div v-if="sourceList.length">
        <b-table hover :items="sourceList" class="mt-4" :fields="fields">
            <template #cell(action)="data">
            
            <button
                class="action"
                style="font-size: 12px;
                    padding: 5px 8px;
                    font-weight: 600;"
                v-on:click="editSource(data.item.id)"
            ><img src="./../assets/edit.png" class="img-icon"/> Edit</button>
            </template>
        </b-table>
    </div>

    <div v-else>
      <div class="text-center">
        <b-card class="mb-2 text-center mt-4" style="max-width: 35rem; margin:auto;padding:15px; ">
            <b-card-text>No Source Avaible</b-card-text>
            <b-button variant="primary" class="action" v-on:click="createSource">Create</b-button>
        </b-card>
      </div>
    </div>
    <b-modal id="edit-source-modal" hide-footer :title="isEditModeOn?'Update Source':'Create Source'" no-close-on-backdrop>
       <b-form @submit="onSubmit">
            <b-form-group id="input-group-2" label="Source Name" label-for="name" class="d-inline-block d-flex" label-class="placholder-width">
                <b-form-input class="d-inline-block" id="name" required type="text" v-model="form.source_name" placeholder="Enter Source name"></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-2" label="Source Description" label-for="input-2" class="d-inline-block d-flex" label-class="placholder-width">
                <b-form-textarea class="d-inline-block" id="input-2" v-model="form.source_description"  rows="3" max-rows="4" placeholder="Enter Source description" >
            </b-form-textarea>
            </b-form-group>
            <b-form-group id="input-group-2" label="Source URL" label-for="input-5" class="d-inline-block d-flex" label-class="placholder-width">
                <b-form-input class="d-inline-block" id="input-5" required type="url" v-model="form.source_url" placeholder="Enter Source URL"></b-form-input>
            </b-form-group>
          <b-button type="submit" class="action float-right" v-if="isEditModeOn">Update</b-button>
          <b-button v-on:click="createNewSource" class="action float-right" v-else>Create</b-button>
       </b-form>
    </b-modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'
// import axios from 'axios'
import service from '../service';

export default {
  name: "Source",
  data() {
    return {
      fields: [
          {
            key: "id",
            label: "Source ID",
            sortable: false
          },

          {
            key: "name",
            sortable: false
          },
          {
            key: "description",
            sortable: false
          },
          {
            key: "source_url",
            sortable: false
          },
          
          {
            key: "action",
            sortable: false,
          }
        ],
      form: {
        source_id:'',
        source_description: "",
        source_url: "",
        source_name:'',
      },
      isEditModeOn:false,
      selectedSource:{}
    };
  },
   methods: {
        editSource(sourceId) {
               this.isEditModeOn=true;
               console.log(sourceId);
               const selectedSource= this.sourceList.filter(e=>{
                    return e.id===sourceId
               })
               console.log(this.selectedSource[0],'selectedSource');
                 this.form.source_description=selectedSource[0].description;
                 this.form.source_url=selectedSource[0].source_url;
                 this.form.source_id=selectedSource[0].id;
                 this.form.source_name=selectedSource[0].name;
               this.$bvModal.show('edit-source-modal');
        },
        onSubmit(evt){
            console.log(evt);
            evt.preventDefault();
            const payload={
              id:this.form.source_id,
              type:'source',
              payload:this.getPayload()
         }
          service.updateData(payload).then(()=>{
               this.$store.dispatch('projects/getData','source').then(()=>{
                   this.$bvToast.toast('Source updated succesfully', {
                         variant: 'success',
                         solid: true,
                         noCloseButton: true
                    })
              })
         }).catch(()=>{
               this.$bvToast.toast(`Failed to update source`, {
                    variant: 'danger',
                    solid: true,
                    noCloseButton: true
               });
          });
          this.$bvModal.hide('edit-source-modal');
        },
        createList(){
            this.sourceList=this.sourceData
        },
        createSource(){
               this.form.source_description='';
               this.form.source_url='';
               this.form.source_id='';
               this.form.source_name='';
               this.isEditModeOn=false;
               this.$bvModal.show('edit-source-modal');
        },
        getPayload(){
               const payload={
                   source_url:this.form.source_url,
                    description:this.form.source_description,
                    name:this.form.source_name
              }
              return payload;
        }
        ,createNewSource(){
             const payload={
                  type:'source',
                  payload:this.getPayload()
             }
              service.createData(payload).then(()=>{
                    this.fecthTheme();
               }).catch(()=>{
                    this.$bvToast.toast('Failed to create Source', {
                         variant: 'danger',
                         solid: true,
                         noCloseButton: true
                    });
               })
        },
        fecthTheme(){
          this.$store.dispatch('projects/getData','source').then(()=>{
                this.$bvToast.toast(`Source ${this.isEditModeOn?'updated':'create'} succesfully`, {
                    variant: 'success',
                    solid: true,
                    noCloseButton: true
               })
          })
          this.$bvModal.hide('edit-source-modal');
     },
    },
  computed: {
        ...mapState('projects', {
        sourceList: 'sourcedata',   
        })
    },
    // watch: {
    //     sourceData: {
    //     immediate: true,
    //     deep: true,
    //     handler(newValue, oldValue) {
    //         console.log(this.campaigndata, newValue, oldValue);
    //         if(this.sourceData.length){
    //             this.createList();
    //         }
    //     }
    //     }
    // },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.md-theme-default a:not(.md-button),
.md-theme-default a:not(.md-button):hover {
  text-decoration: none;
  color: #fff;
  background: cadetblue;
}
.action {
  border: none;
  background: cadetblue;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  font-weight: 500;
}
.heading {
  font-weight: 600;
  font-size: 25px;
  font-family: sans-serif;
}
.card-text {
  font-size: 20px;
  font-weight: 500;
}
</style>
