<template>
  <div class="hello">
    <div class="d-flex">
      <h1 class="w-20 heading">Theme</h1>
      <div class="w-100">
        <button
          v-if="themeList.length"
          class="float-right action"
          variant="primary"
          v-on:click="createTheme"
        >Create</button>
      </div>
    </div>
    <div v-if="themeList.length">
      <b-table hover :items="themeList" class="mt-4" :fields="fields" id="theme-table" v-if="show">
        <template #cell(action)="data">
          <button
            class="action mr-3"
            style="font-size: 12px; padding: 5px 8px; font-weight: 600;"
            v-on:click="editTheme(data.item)">
            <img src="./../assets/edit.png" class="img-icon" />
            Edit
          </button>

          <button v-if="data.item.action=='previewOn'" :id="data.item.id"
            class="action"
            style="font-size: 12px;
                padding: 5px 8px;
                font-weight: 600;"
            v-on:click="stopPreviewTheme(data.item.id)">Stop Preview
          </button>

          <button :id="data.item.id" v-else
               class="action"
               style="font-size: 12px;
                    padding: 5px 8px;
                    font-weight: 600;"
               v-on:click="previewTheme(data.item.id)">
               <img src="./../assets/eye.png" class="img-icon" />Preview
          </button>

          

        </template>
      </b-table>
    </div>
    <div v-else>
      <div class="text-center">
        <b-card class="mb-2 text-center mt-4" style="max-width: 35rem; margin:auto;padding:15px; ">
          <b-card-text>No Theme Avaible</b-card-text>
          <b-button variant="primary" class="action" v-on:click="createTheme">Create</b-button>
        </b-card>
      </div>
    </div>
    <b-modal id="create-theme-modal" hide-footer :title="isEditMode?'Update Theme':'Create Theme'" no-close-on-backdrop>
      <CreateTheme :mode="isEditMode" :themeDetails="selectedTheme" />
    </b-modal>
  </div>
</template>

<script>
import { mapState } from "vuex";
import CreateTheme from "./createTheme.vue";

export default {
  name: "Theme",
  data() {
    return {
      isEditMode: false,
      selectedTheme: {},
      fields: [
        {
          key: "id",
          label: "Theme ID",
          sortable: false
        },

        {
          key: "name",
          sortable: false
        },
        {
          key: "description",
          sortable: false,
          // tdClass: 'desriptionCol'
        },
        {
          key: "action",
          sortable: false
        }
      ],
      isPreviewRunning:false,
      show:true
    };
  },
  components: {
    CreateTheme
  },
  methods: {
     forceUpdateTable(){
          this.show = false;
          this.$nextTick(() => {
          this.show = true;
          });
     },
     previewTheme(themeId) {
          this.isPreviewRunning=true;
          this.themeList.forEach(e=>{
               delete e.action;
          })
          const index= this.themeList.findIndex(e=>e.id===themeId);
          this.themeList[index].action='previewOn';
          this.forceUpdateTable();
          const themeObj=this.themeList.filter(e=>e.id===themeId)[0]
          const animationObj={
               theme:{        
                    background_url:themeObj.background_url, 
                    gift_url:themeObj.gift_url, 
                    logo_url:themeObj.logo_url,
                    isCustom:true
               }

          }
          window.previewTheme(animationObj);
     },
     createTheme() {
          this.isEditMode = false;
          this.$bvModal.show("create-theme-modal");
     },
     editTheme(theme) {
          this.isEditMode = true;
          this.selectedTheme = theme;
          this.$bvModal.show("create-theme-modal");
     },
     stopPreviewTheme(themeId){
          this.isPreviewRunning=false;
          const index= this.themeList.findIndex(e=>e.id===themeId);
          this.themeList[index].action='previewOff';
           this.forceUpdateTable();
          window.stopPreviewTheme();
     }
  },
  computed: {
    ...mapState("projects", {
      themeList: "themedata"
    })
  }
};
</script>

<style scoped>
.md-theme-default a:not(.md-button),
.md-theme-default a:not(.md-button):hover {
  text-decoration: none;
  color: #fff;
  background: cadetblue;
}
.action {
  border: none;
  background: cadetblue;
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  font-weight: 500;
  width: 100px;
}
.heading {
  font-weight: 600;
  font-size: 25px;
  font-family: sans-serif;
}
.card-text {
  font-size: 20px;
  font-weight: 500;
}
</style>
