.campaign-modal-wrapper {
     display: none;
     position: fixed;
     z-index: 99999;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     width: 100vw;
     height: 100vh;
     flex: 1;
     overflow-y: hidden;
     background-color: rgba(0, 0, 0, 0.7);
   }
   
   .campaign-modal {
     display: flex;
     flex: 1;
     align-items: center;
     justify-content: center;
   }
   
   .campaign-modal-content {
     width: 800px;
     height: 480px;
     border-radius: 10px;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     display: flex;
     justify-content: center;
     box-shadow: 0 2px 4px #41303e;
   }
   
   .campaign-modal-content-close {
     color: #7a6e77;
     position: absolute;
     right: 24px;
     top: 24px;
     background-color: #fff;
     font-size: 24px;
     height: 40px;
     width: 40px;
     border-radius: 20px;
     text-align: center;
     font-weight: normal;
     transition: 0.3s;
     vertical-align: middle;
     transform: scale(0.9);
     user-select: none;
   }
   
   .campaign-modal-content-close:hover,
   .campaign-modal-content-close:focus {
     color: #41303e;
     text-decoration: none;
     cursor: pointer;
     box-shadow: 0 2px 4px #41303e;
     transform: scale(0.95);
     outline: none;
   }
   
   .campaign-modal-content-button {
     background-color: #eb595f;
     border-radius: 27px;
     color: #fff;
     font-size: 16px;
     font-weight: 500;
     letter-spacing: 1px;
     line-height: 24px;
     padding: 15px 54px;
     text-transform: uppercase;
     text-align: center;
     position: absolute;
     bottom: 24px;
     margin: auto;
     transition: 0.3s;
     border: none;
   }
   
   .campaign-modal-content-button:hover,
   .campaign-modal-content-button:focus {
     outline: none;
     text-decoration: none;
     cursor: pointer;
     box-shadow: 0 2px 4px #41303e;
   }
   
   .campaign-icon-fixed-bottom {
     position: fixed;
     bottom: 80px;
     right: 20px;
     height: 100px;
     width: 100px;
   }
   
   .animate-fade-in-out {
     width: 156px;
     height: 100%;
     animation-name: fade;
     animation-iteration-count: infinite;
   }
   
   @keyframes fade {
     0%,
     100% {
       opacity: 0;
     }
     50% {
       opacity: 1;
     }
   }
   
   .lottie-player-wrapper {
     transform: scale(1.5);
     transition: 0.3s;
     outline: none;
     border: 0;
   }
   
   .lottie-player-wrapper:hover,
   .lottie-player-wrapper:focus {
     text-decoration: none;
     outline: none;
     cursor: pointer;
     transform: scale(1.6);
   }