
<template>
  <div id="app">
        <loading
      :active.sync="isLoading"
      v-if="!$route.meta.noloader"
      :can-cancel="loading.canCancel"
      :is-full-page="loading.fullPage"
    ></loading>
        <!-- <div class="header">
            <Mainheader />
        </div> -->
        <div class="d-flex flex-wrap main-body">
            <div class="sidebar">
                <sidebar />
            </div>
            <div class="content">
                <router-view />
            </div>
        </div>
       
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import {EventBus} from './main'

// import Mainheader from './components/Header.vue'
import sidebar from './components/SideBar.vue'
// import axios from 'axios'
export default {
    name: "App",
    components: {
      sidebar,Loading
    },
    data() {
        return {
                spin_visible: 0,
               isLoading: false,
               
               loading: {
                    isLoading: false,
                    canCancel: false,
                    fullPage: true
               },
        }
    },
     created() {
        EventBus.$on("show_spin", this.showSpin);
        EventBus.$on("hide_spin", this.hideSpin);
    },
    mounted(){
        console.log('pp moutned');
        this.$store.dispatch('projects/getData','campaign').then(()=>{
          //    const data = response.data.data;
          //    console.log('camoaign',data,response);
        })
        this.$store.dispatch('projects/getData','theme').then(()=>{
          //    const data = response.data.data;
          //    console.log('theme',data,response);
        })
        this.$store.dispatch('projects/getData','source').then(()=>{
          //    const data = response.data.data;
          //    console.log('source',data,response);
        })
     //    axios.get("https://campaign-service.herokuapp.com/api/v1/campaigns").then(response => {
     //        const data = response.data.data;
     //        console.log('camoaign',data);
     //        this.$store.commit('projects/SET_CAMPAIGN_DATA', data);
     //    });
     //    axios.get("https://campaign-service.herokuapp.com/api/v1/themes").then(response => {
     //        const data = response.data.data;
     //        console.log('theme',data);
     //        this.$store.commit('projects/SET_THEME_DATA', data);
     //    });
     //    axios.get("https://campaign-service.herokuapp.com/api/v1/sources").then(response => {
     //        const data = response.data.data;
     //        console.log('source',data);
     //        this.$store.commit('projects/SET_SOURCE_DATA', data);
     //    });
        // this.$router.push('campaign');
    },
    methods: {
          showSpin() {
            this.spin_visible++;
          },
          hideSpin() {
               if (this.spin_visible > 0) this.spin_visible--;
          },
    },
     watch: {
        spin_visible: function (val) {
            this.isLoading = val > 0;
        },
     }

};
</script>

<style>
.img-icon{
     width: 16px;
    margin-top: -2px;
}
.content{
    width: calc(100vw - 250px);
    padding: 20px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sidebar {
   width: 250px;
    /* background: #fff; */
    height: 100vh;
    /* background-color: #fff; */
    /* border-radius: 5px; */
    border-right: 1px solid #edecec;
    padding: 20px;
}

.main-body{
    display: flex;
    flex-direction: row;
}
body {
    /* background-color: #f5f4f5; */
}

.desriptionCol{
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
}
</style>
