@import './../node_modules/bootstrap/dist/css/bootstrap.css';
@import './../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
/* @import 'vue-loading-overlay/dist/vue-loading.css'; */

@media(min-width: 576px){
    .modal-dialog {
        max-width: 600px;
    }
}

.table td:nth-child(3),
.table th:nth-child(3) {
    /* padding-left: 23px; */
    width: 250px;
}
#theme-table.table td:nth-child(3),
#theme-table.table th:nth-child(3) {
    /* padding-left: 23px; */
    width: 350px;
}

.info{
     padding: 0 1px;
     border-radius: 5px;
     font-size: 11px;
     font-weight: 600;
     background: #5f9ea04a;;
     color: #000;
     font-family: monospace;
}